@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

html{
    scroll-behavior: smooth;
    margin: auto;
    display: table;
}

body{
    margin-left: auto;
    margin-right: auto;
}

main{
    margin: auto;
    margin-left: 25px;
    padding-top: 75px;
    align-self: center;
    display: table-cell;
}

.contact{
    margin-left: 40px;
    margin-top: 125px;
}

h1{
    font-family: 'Poppins', sans-serif;
    position: fixed;
    margin: -10px;
    padding: 25px;
    font-weight:900;
    background-color:#5F7161;
    color: white;
    width: 750px;
}

h2{
    background-color: #a6bdac;
    width: 750px;
}

h3{
    background-color: #D0C9C0;
    width: 710px;
}

h4{
    background-color: #EFEAD8;
    width: 670px;
}

ul{
    list-style: none;
}

a{
    color: black;
    text-decoration: none;
    width: 750px;
    padding: 4px;
    padding-right: 0px;
    margin-top: -3px;
    margin-left: -8px;
}

a:hover{
    color: white;
}

#downloadorprint{
    position: fixed;
    background-color: #a6bdac;
    width: 750px;
    padding-right: 30px;
    margin-top: 10px;
    margin-left: -10px;
    padding-left: 20px;
}