@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

html{
    display: table;
    margin:auto;
    min-width: 840px;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    /*background: linear-gradient(azure, white);*/
    
}

main{
    padding-top: 25px;
    margin-top: -10px;
    display: table-cell;
}

h1{
    
    text-align: center;
    font-weight: 900;
    padding-top: 5vh;
    padding-bottom: 5vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    /*background-color:azure;*/
}

h2{
    margin-bottom: 5vh;
}


#Zelfportret > img{
    width: 300px;
    margin-left: 35%;
    /*border: azure solid 10px;*/
    margin-bottom: 20vh;
    border-radius: 10%;
}

#Work, #About, #Contact{
    margin-bottom: 25vh;
}

header{
    height: 57px;
    width: 100vw;
    margin-left: -10px;
    margin-top: -5px;
    background-color: white;
}

nav{
    position:fixed;
    width:840px;
    left: 50%;
    margin-left: -420px;
    padding: 20px;
    margin-top: -5px;
    white-space: nowrap;
}

#Top{
    border-bottom:rgb(209, 205, 255) 2px solid;
    background-color: white;
    margin-top: -10px;
    position: fixed;
}

a{
    color: black;
    text-decoration: none;
}

nav a{
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 25px;
}

#textsections{
    margin-left: 10vh;
}

.Click{
    border: 2px outset lightgray;
    padding: 2px;
}

.Click:hover{
    color: white;
    border: 2px inset darkgray;
    background-color: lightgray;
}


#quote{
    margin-bottom: 5vh;
}

