@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

html{
    display: table;
    margin:auto;
    min-width: 840px;
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;    
}

main{
    padding-top: 25px;
    margin-top: -10px;
    display: table-cell;
}

h1{
    display: block;
    text-align: center;
    width: 600px;
    font-weight: 900;
    padding-top: 5vh;
    padding-bottom: 100px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
}

h2{
    margin-bottom: 5vh;
}

#Zelfportret > div{
    width: 340px;
    margin: auto;
    /*box-shadow: 5px 5px 5px rgb(201, 201, 201);*/
}

#Zelfportret > div> img{
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20vh;
    
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
    border-radius: 3px;
    border: 1px black solid;
    

    background-color: #a6bdac;
    padding-top: 30px;
    padding-left: 120px;
    margin-left: -100px;
    padding-right: 120px;
    padding-bottom: 30px;
    
}

#Work, #About, #Contact{
    margin-bottom: 25vh;
}

header{
    height: 57px;
    width: 1200px;
    margin-left: -10px;
    margin-top: -5px;
    background-color: white;
    color: white;
}

nav{
    position:fixed;
    width:840px;
    left: 50%;
    margin-left: -420px;
    padding: 20px;
    margin-top: -5px;
    white-space: nowrap;
}

#Top{
    border-bottom:#374439 5px solid;
    margin-top: -10px;
    position: fixed;
    background-color: #5F7161;
    padding-left: 50px;
    width:840px;
    left: 50%;
    margin-left: -420px;
}

#wit{
    position: fixed;
    background-color: white;
    width: 100vmax;
    height: 50px;
    margin-top: -10px;
}

a{
    color: black;
    text-decoration: none;
}

nav a{
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}
nav a:hover, #cvdownload:hover{
    color: aquamarine;
}

#Work div p{
    margin-bottom: 50px;
}

#textsections{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 500px;
    width:840px;
    left: 50%;
    margin-left: -420px;
}

.Click{
    text-decoration: underline;
    /*
    border: 2px outset lightgray;
    padding: 2px;
    */
}

.Click:hover{
    color: aquamarine;
    /*
    color: white;
    border: 2px inset darkgray;
    background-color: lightgray;
    */
}

#quote{
    padding-bottom: 50px;
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-align: center;
    color: darkgray;
}

#images > img{
    display: inline-block;
    height: 100px;
}

#About li{
    list-style: none;
}

#About h2 a{
    font-size: small;
    text-decoration: underline;
}

#About h2 a:hover{
    color: aquamarine;
}